graft niftypet/nimpa/prc
graft niftypet/nimpa/prc/src
graft niftypet/nimpa/dinf
graft niftypet/auxdata
graft resources/
include *.py
recursive-include niftypet CMakeLists.txt
include LICENCE
include README.rst

